
    input[type="text"] {
        box-sizing: border-box;
        color: darkslategrey;
        font-size: 22px;
        height: 50px;
        margin: 8px auto;
        padding: 4px 8px;
        text-overflow: clip;
        width: 100%;
    }