#jqtrapp {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 400px;
    overflow-wrap: normal;
    position: relative;
    white-space: normal;
    word-break: break-word;
    word-wrap: normal;

    div {
        outline: none;
        white-space: inherit;
    }

    h2 {
        font-size: 22px;
    }

    a {
        text-decoration: none;
    }

    .bold {
        font-weight: 700;
    }

    .warning-symbol {
        cursor: default;
        display: flex;
        flex-direction: column;
        font-size: 28px;
        justify-content: center;
        text-align: center;
    }
}
