#jqtrapp {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 400px;
    overflow-wrap: normal;
    position: relative;
    white-space: normal;
    word-break: break-word;
    word-wrap: normal;

    div {
        outline: none;
        white-space: inherit;
    }

    h2 {
        font-size: 22px;
    }

    a {
        text-decoration: none;
    }

    .needs-estimate {
        cursor: default;
        display: flex;
        flex-direction: column;
        font-size: 28px;
        justify-content: center;
        text-align: center;
    }

    .error {
        border-radius: 4px;
        border: 2px solid red;
        font-size: 18px;
        margin: 30px auto;
        padding: 20px;
        text-align: center;
        &.warning {
            border-color: #ffd500;
        }
        .error-type {
            text-transform: uppercase;
        }
        .error-list {
            margin: 0 auto;
            max-width: 1200px;
            text-align: left;
        }
    }

    .messageContainer {
        margin: 2rem auto;
        text-align: center;
    }

    input[type="text"] {
        box-sizing: border-box;
        color: darkslategrey;
        font-size: 22px;
        height: 50px;
        margin: 8px auto;
        padding: 4px 8px;
        text-overflow: clip;
        width: 100%;
    }

    span.initiative {
        align-items: center;
        display: flex;
        span { margin: 0 6px; min-width: fit-content; }
    }

    .status {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        min-height: 40px;
        padding-right: 12px;
        position: relative;
        width: 100%;

        .iconRow {
            align-items: center;
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0px;
            top: 0px;
        }
    }
    .hasTeam {
        color: #adadad;
    }
    .keyTask {
        font-size: 8px;
    }

    .viewSelector {
        display: flex;
        flex-direction: column;
        div.disabled { pointer-events: none; }
        div.initiative:before { content: '💡' }
        div.assignee:before { content: '👷' }
    }

    .expandedEnabled {
        border: 1px outset #ddd;
        display: flex;
        flex-direction: column;
        height: 26px;
        justify-content: center;
        pointer-events: all;
        position: relative;
        width: 26px;
        &.expandedIndex {
            background-color: #efefef;
            border-style: inset;
        }
    }

    .closedIndex {
        min-width: 24px;
    }

    // React-Table Overrides
    .rt-resizable-header-content,
    .rt-tfoot .rt-td {
        font-weight: bold;
    }

    .rt-td {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ReactTable .rt-table {
        overflow: inherit;
    }

    .rt-thead.-header {
        background: #fff;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .subtable {
        border-bottom: 1px solid #656565;
        border-left: 0;
        border-right: 1px solid #656565;
        border-top: 0;
    }

    /* https://stephanwagner.me/only-css-loading-spinner */
    .loader:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 40%;
        left: 50%;
        width: 60px;
        height: 60px;
        margin-top: -15px;
        margin-left: -15px;
        border-radius: 50%;
        border: 6px solid #ccc;
        border-top-color: #07d;
        animation: spinner .8s linear infinite;
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}